<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cr.model.mapper.BodyMapper">
    <select id="getById" parameterType="int" resultType="cr.model.Body">
        SELECT body.*  FROM body WHERE body.BID=#{bid}
    </select>
</mapper>